.header {
  display: grid;
  gap: 18px 16px;
  grid-template-columns: 1fr auto;
  grid-template-areas:
    'title title'
    'searchBar toolBar';
  margin-bottom: 30px;
}

.header__title {
  grid-area: title;
}